
@{
    ViewData["Title"] = "Trader Joes API";
}

<div>
    <h1 class="display-4">Trader Joes API</h1>
</div>

<div class="container">
    <p class="lead">Endpoints</p>

    <div class="container">
        <code>Get all Products:</code> <br />
        <p class="lead">
            <a href="https://runapis.azurewebsites.net/TraderJoes/GetProduct/" target="_blank">
                https://runapis.azurewebsites.net/TraderJoes/GetProduct/
            </a>
        </p>

        <div class="container">

        </div>
    </div>

    <div class="container">
        <code>Get a single Products:</code> <br />
        <p class="lead">
            <a href="https://runapis.azurewebsites.net/TraderJoes/GetProduct/2" target="_blank">
                https://runapis.azurewebsites.net/TraderJoes/GetProduct/{productID}
            </a>
        </p>
    </div>

    <div class="container">
        <code>Fetch By ProductName:</code> <br />
        <p class="lead">
            <a href="https://runapis.azurewebsites.net/TraderJoes/Search?name=pink" target="_blank">
                https://runapis.azurewebsites.net/TraderJoes/Search?name={productName}
            </a>
        </p>
    </div>

</div>
