
@{
    ViewData["Title"] = "Trader Joes API";
}

<div>
    <h1 class="display-4">Trader Joes API</h1>
</div>

<div class="container">
    <p class="lead">Endpoints</p>

    <div class="container">
        <code>Get all Products:</code> <br />
        <p class="lead">https://localhost:5001/TraderJoes/GetProduct/</p>
    </div>

    <div class="container">
        <code>Get a single Products:</code> <br />
        <p class="lead">https://localhost:5001/TraderJoes/GetProduct/{productID}</p>
    </div>

    <div class="container">
        <code>Fetch By ProductName:</code> <br />
        <p class="lead">https://localhost:5001/TraderJoes/Search?name={productName}</p>
    </div>

</div>
