
@{
    ViewData["Title"] = "Drawn Cards";
}

<div class="text-center">
    <h2 class="display-4">Drawn Cards</h2>
</div>

<div>
    <p class="lead">Return card to Deck</p>
    @foreach (Card card in @Model)
    {
        <a asp-controller="Home" asp-action="ReturnCardToDeck"
           asp-route-code="@card.code">
            <img src="@card.image" />
        </a>
    }
</div>


