@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">APIs</h1>

    <div class="row">

        <form asp-controller="Home" asp-action="ShuffleDeck" class="col">
            <input type="submit" value="Deck of Cards"
                   class="btn btn-success" />
        </form>

        <form asp-controller="Rick" asp-action="Index" class="col">
            <input type="submit" value="Rick & Morty"
                   class="btn btn-success" />
        </form>

        <form asp-controller="Nasa" asp-action="Index" class="col">
            <input type="submit" value="NASA"
                   class="btn btn-success" />
        </form>

        <form asp-controller="TraderJoes" asp-action="Index" class="col">
            <input type="submit" value="Trader Joes API"
                   class="btn btn-success" />
        </form>

    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
