@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Shuffled Deck";
}

<div class="text-center">
    <h2 class="display-4">Shuffled Deck!</h2>
</div>
